body{
font-size:10px;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
color:black;
line-height:14pt;
padding-right:5pt;
padding-left:5pt;
padding-top:5pt;
}

h{
font:14pt Verdana,Geneva,Arial,Helvetica,sans-serif;
font-weight:bold;
line-height:20pt;
color:red
}



p{
font:10pt Verdana,Geneva,Arial,Helvetica,sans-serif;
font-weight:bold;
line-height:20pt;
color:blue}
