<style>
header {
    color: RED;
    text-align:center;
    font-family: Constantia;
    font-size: 40px;
    background-color: black;
   
}

body{
    background-image: url('https://th.bing.com/th/id/OIP.YIWUU7ae0YyNhuic0PNzmwHaEK?w=250&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%100%;

}

.container{
    display: flex;
    gap: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content:center;
}

.box{
    color:black;
    border-radius: 20px;
    padding: 10px;
    width: 450px;
    text-align: center;
    box-shadow: 10px;
}


p{
    font-size: 25px;
    color: black;

}
.logo{
    position: absolute;
    width: 150px;
    height: auto;
    top: 0;
    left: 0;
  }

img{
    padding: 10px;
    border-radius: 10px;
    width:400px;
}


.img1{
    padding: 10px;
    border-radius: 10px;
    width:200px;
   
}
.line{
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

h1{
    text-align: center;
}

iframe{
    max-width: 100%;
    align-items: center;
    max-height: auto;
    margin: auto;
    border-radius: 10px;
}
</style>