body {
    background-image: url('https://th.bing.com/th/id/OIP.qDvAlhidTBzXiGyDfq_O0gHaE7?w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2');
    background-repeat: no-repeat;
    background-size: 100%100%;
    background-attachment: fixed;
}
header {
    color: RED;
    text-align:center;
    font-family: Constantia;
    font-size: 40px;
    background-color: black;
}
.boxes {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 15px;
    gap: 100px;
}
.box {
    background:black;
    color:white;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 10px,white;
}
img {
    width: 250px;
    height: auto;
    align-items: center;
    border-radius: 10px;
}
table{
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}
h2{
    margin: 50px;
    color:red;
    font-size: 30px;
    text-align: center;
    padding:20px ;
    background-color: black;
}
p{font-size: 20px;
padding: 15px;}

table,th,td{
    border:1px solid black;
    border-collapse:collapse;
    background-color:grey;}
