.container{
    width: 98%;
    height: 93.5vh;
    border: 15px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
}

.calculator{
    padding: 30px;
    background-color: gray;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    width:60px;
    height: 60px;
    border-radius: 10px;
    background-color: black;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;

}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex:1;
    font-size: 30px;
   box-shadow: none;
}

form input.equal{
    width: 145px;

}